<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>The Mile High Bibliophiles</title>
    <link href="https://fonts.googleapis.com/css?family=Monoton|Sedgwick+Ave" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>
  <div id='header'>
    <div id='header_color'>
    </div>
    <h1 id='header_mhb'>Mile High Bibliophiles<h1>
  </div>
  <div id='navbar'>
    <p id='sign_up'>Sign Up</p>
    <p id='log_in'>Log In</p>
  </div>
  <body>
  </body>
  <footer>
  </footer>
</html>
