/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-image: url(/assets/venice.JPG);
  background-size: 100% 200px;
  position: relative;
}

#header_color {
  background-color: #522B29;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header_mhb {
  font-family: 'Monoton', cursive;
  font-size: 6vw;
  color: #C2D3CD;
  position: absolute;
}

#navbar {
  width: 100;
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  background-color: #495652;
}

#sign_up {
  grid-column: 7 / span 1;
  font-family: 'Permanent Marker', cursive;
  color: #C2D3CD;
  font-size: 2vw;
	background-color: transparent;
	border: none;

}

#log_in {
  grid-column: 8 / span 1;
  font-family: 'Permanent Marker', cursive;
  color: #C2D3CD;
  font-size: 2vw;
	background-color: transparent;
	border: none;
}

#log_out {
  grid-column: 8 / span 1;
  font-family: 'Permanent Marker', cursive;
  color: #C2D3CD;
  font-size: 2vw;
	text-decoration: none;
}

#welcome {
	grid-column: 1 / span 3;
	font-family: 'Permanent Marker', cursive;
  color: #C2D3CD;
  font-size: 2vw;
}

#sign_up_modal {
	display: flex;
  justify-content: center;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
	background: rgba(255, 66, 56, 0.5);
	text-align: center;
}

#sign_up_form {
	padding-top: 200px;
}

#log_in_modal {
	display: flex;
  justify-content: center;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
	background: rgba(255, 66, 56, 0.5);
	text-align: center;
}

#log_in_form {
	padding-top: 200px;
}
