#profile_body{
  height: 100%;
  width: 100%;
}

#profile_header {
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
	font-size: 4vw;
}

#homepage_link {
  grid-column: 5 / span 4;
  font-family: 'Permanent Marker', cursive;
  color: #07020D;
  font-size: 2vw;
  align-self: center;
  padding-left: 7vw;
}

@media (max-width: 500px) {
  #profile_photo_div {
    display: flex;
    justify-content: center;
  }

  #profile_photo {
    width: 90%;
    height: 80vw;
    border-radius: 50%;
    border: 4px solid black;
    margin-top: 3vw;
  }

  #user_text {
    display: grid;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    line-height: 5vw;
  }

  #user_messages_header {
    border-bottom: 1px solid black;
    margin-right: 1vw;
  }

  #user_messages {
    grid-column: 1 / span 12;
    grid-row: 3;
    margin-top: 1vw;
    font-size: 3vw;
  }
}

@media (min-width: 501px) {
  #profile_photo_div {
    display: flex;
    justify-content: center;
  }

  #profile_photo {
    width: 25%;
    height: 25vw;
    border-radius: 50%;
    border: 4px solid black;
    margin-left: 1vw;
    margin-top: 1vw;
  }

  #user_text {
    display: grid;
    justify-content: center;
    grid-column: 4 / span 5;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    line-height: 5vw;
  }

  #user_messages_header {
    border-bottom: 1px solid black;
    margin-right: 1vw;
  }

  #user_messages {
    grid-column: 9 / span 4;
    margin-top: 1vw;
    font-size: 3vw;
  }
}
